

a,
a:visited{
    color: white;
    text-decoration: none;
}
.content{
    background: rgba(0,0,0,.95);
    min-height: 100vh;
    padding: 0 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    font-family: sans-serif;
    color: white;
}
.game-title{
    margin: .5rem;

    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;

}
.character.hidden{
    opacity: 0;
    overflow: hidden;
    padding: 0;
    margin: 1rem 0;
    transition: 1s;
    max-width: 0;
}
.character.hidden .info{
    width: 120px;
}
.info{
    font-size: .6rem;
    letter-spacing: .1rem;
    line-height: 1rem;
    color: rgba(255,255,255,.6);
}
.info .name{
    color: white;
    display: block;
    text-align: center;
    line-height: 1.8rem;
    font-size: .6rem;
    letter-spacing: .2rem;
}

.game-wrap{
    min-width: 800px;
    background:rgba(255,255,255,.1);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

}

.char-bank{
    background: rgba(200,200,200,.1);
    border: solid 3px rgba(0,0,0,.8);
    display: flex;   
    justify-content: center;
    max-height: 400px;
    transition: 1s;
    padding: 1rem;
}
.char-bank.hidden{
    opacity: 0;
    max-height: 0;
}

.character{
    padding: .3rem;
    max-width: 120px;
    background: #000000e6;
    border: solid 4px rgba(0,0,0,.8);
    margin: 0 .5rem;
    
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    cursor: pointer;
    transition: 1s;

}

.character:hover{
    border: solid 4px rgba(255,255,255,.8);
}


.character .img-wrap{
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.image-wrap img,
.character img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.message{
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    letter-spacing: .1rem;
    
}

.character .info{
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    justify-content: space-between;
}



.character .hp,
.character .attack,
.character .counter{
    display: flex;
    justify-content: space-between;
}

.arena{
    background: white;
    position: relative;
    border: solid 2px rgba(0,0,0,.8);
}

.background{
    display: block;
    height: 100%;
    width: 100%;
}

.match-row .hp-wrap{
    background: black;
    padding: 3px 0;
    padding: 1px 0;
    border: solid rgba(255,255,255,.4) 1px;
    display: flex;
}

.player-wrap .hp-wrap{
    justify-content: flex-end;
}
.defender-wrap .hp-wrap{
    justify-content: flex-start;
}

.game-row,
.series-row{
    display: flex;
    justify-content: center;
    padding: .2rem;
    text-transform: uppercase;
}

.game-row{
    padding: 0;
    margin-bottom: .8rem;
}


.wins-label,
.losses-label,
.attack-label,
.counter-label{
    margin: 0 1rem;
}

.wins,
.losses{
    margin: 0 1rem;
    padding: .1rem 1rem;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.match-row .hp{
    background: rgba(0,255,100,1);
    width: 100%;
    font-size: .8rem;
    padding: 2px 0;
    transition: .5s;
}

.match-row{
    height: 400px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.start{
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    max-width: none;
    margin-top: 2rem;
    padding: .9em;
    position: absolute;
    background: rgba(0,0,0,.8);
    color: white;
    border: solid 2px black;
    border-radius: 1.5rem;
    transition: .5s;
    cursor: pointer;
}

.start:hover{
    border: solid 2px white;

}

.start.hidden{
    opacity : 0;
    padding: 0;
    pointer-events: none;
}



.player-wrap,
.defender-wrap{
    opacity: 1;
    height: 200px;
    width: 200px;
    transition: 1s;
    border: solid 2px rgba(0,0,0,.8);
}

.player-wrap.hidden,
.defender-wrap.hidden{
    opacity: 0;
}

.info-wrap{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    text-align: center;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;



}

.button-row{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.stats{
    background:rgba(0,0,0,.9);
    padding: 1rem;
}